.scion {
  width: 100%;
  height: auto;
  margin-bottom: -120px;
}

.card {
  padding: 140px 32px 0px 32px;
  height: 100%;

  font-size: 1.8em;
  background: #94385b;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.emphasis {
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
}

.flex {
  display: flex;
  align-items: center;
}

.divider {
  height: 90px;
  width: 1px;
  border: 1px solid #eed6df;
  margin: 0 16px;
}
